.mode-select-item {
    display: block;
    margin: 5px 0;
    padding: 6px 12px;
    border: 1px solid var(--component-border-color);
    background: var(--component-background);
    text-align: left;
}

.mode-select-item.selected {
    border-color: #999;
    background: var(--component-selected-background);
}

.mode-select-item .title {
    font-weight: bold;
    font-size: 115%;
}

.mode-select-item .description-wrapper {
    display: flex;
}

.mode-select-item .description-wrapper > * {
    width: 100%;
}

.mode-select-item .description-wrapper .hidden-description {
    margin-left: -100%;
    visibility: hidden;
    pointer-events: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}