@using SummonMyStrength.Maui.Data
@inject IUserSettingsService UserSettingsService

<MudText Typo="Typo.subtitle1">Honoring Players</MudText>

<SettingsCheckbox Label="Auto Honor Players?" Value="_userSettings.AutoHonorPlayers" ValueChanged="SetAutoHonorPlayersAsync" />
<SettingsCheckbox Label="Always Honor Friends?" Value="_userSettings.AlwaysHonorFriends" ValueChanged="SetAlwaysHonorFriendsAsync" Class="mb-3" />

<MudText Typo="Typo.subtitle2">The Algorithm</MudText>
<ol>
    <li>If checked, always honors friends first.</li>
    <li>Will not honor players that were reported while in-game.</li>
    <li>If you were Bottom, will prefer honoring Support and vice versa.</li>
    <li>Will honor allies based on who did the most damage to enemy champions.</li>
    <li>Finally, if any honors remain, will randomly pick enemies to honor (as long as they were not reported).</li>
</ol>

@code {
    private UserSettings _userSettings;

    protected override async Task OnInitializedAsync()
    {
        _userSettings = await UserSettingsService.GetSettingsAsync();
    }

    private async Task SetAutoHonorPlayersAsync(bool newValue)
    {
        _userSettings.AutoHonorPlayers = newValue;
        await UserSettingsService.SaveSettingsAsync();
    }

    private async Task SetAlwaysHonorFriendsAsync(bool newValue)
    {
        _userSettings.AlwaysHonorFriends = newValue;
        await UserSettingsService.SaveSettingsAsync();
    }
}
