.post-game-stat {
    margin-bottom: 8px;
    margin-right: 45px;
    margin-left: 45px;
}

.post-game-stat .name {
    margin-left: 2px;
    font-size: 12px;
    font-weight: bold;
}

.graph .graph-content {
    position: relative;
    border: 8px solid rgba(128,128,255,0.2);
    border-radius: 8px;
}

.graph .node {
    position: absolute;
}

.graph .node .node-pin {
    display: block;
    margin-top: -18px;
    margin-left: -4px;
    border: 4px solid #58C;
    border-radius: 4px;
}

.graph .node.is-me .node-pin {
    margin-top: -19px;
    margin-left: -5px;
    border-color: #C6F;
    border-width: 5px;
    border-radius: 5px;
}

.graph-tooltip {
    position: relative;
    margin: -4px -8px;
    width: 100px;
    height: 60px;
    border: 2px solid black;
    overflow: hidden;
    border-radius: 5px;
}

.graph-tooltip:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    z-index: 2;
}

.icon {
    position: absolute;
    display: block;
    top: 0;
    left: -8%;
    width: 116%;
    object-fit: contain;
    object-position: center -12px;
}

.value,
.summoner-name {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black, -2px 2px 0 black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.value {
    top: 30px;
    font-weight: bold;
    font-size: 16px;
}

.summoner-name {
    top: 10px;
}
