@page "/"
@using SummonMyStrength.Api.Connectors
@using SummonMyStrength.Api.General
@using SummonMyStrength.Maui.Services
@using SummonMyStrength.Maui.Components
@inject ILeagueClientWebSocketConnector LeagueClientWebSocketConnector
@inject ILeagueClientApiConnector LeagueClientApiConnector

<StatusBar @bind-ShowSettings="_showSettings" />

<div class="main-content">
    <div class="features @(_showSettings ? "hidden" : "")">
        <SummonMyStrength.Maui.Components.PowerSystems.RunePageFeature />
        <SummonMyStrength.Maui.Components.PowerSystems.SummonerSpellFeature />
        <SummonMyStrength.Maui.Components.Matchmaking.ReadyCheckFeature />
        <SummonMyStrength.Maui.Components.ChampSelect.PickBanFeature />
        <SummonMyStrength.Maui.Components.ChampSelect.PickOrderTradeFeature />
        <SummonMyStrength.Maui.Components.PostGame.HonorPlayerFeature />
        <SummonMyStrength.Maui.Components.PostGame.PostGameStatsFeature />
    </div>

    @if (_showSettings)
    {
        <ComponentSettingsEditor />
    }
</div>

@code {
    private bool _showSettings;

    private GameflowPhase? _currentPhase;

    [Inject]
    public IJSRuntime JS { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LeagueClientWebSocketConnector.WaitForConnectionAsync();
        }
    }
}