<Router AppAssembly="@typeof(Main).Assembly">
	<Found Context="routeData">
		<RouteView RouteData="@routeData" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
	</Found>
	<NotFound>
		<p role="alert">Sorry, there's nothing at this address.</p>
	</NotFound>
</Router>

<MudThemeProvider IsDarkMode="true" />
<MudDialogProvider/>
<MudSnackbarProvider/>