<div class="popup-panel">
    <div class="popup-header">
        <MudText Typo="Typo.h4">@Title</MudText>
        <MudIconButton Icon="@Icons.Material.Outlined.Close" OnClick="OnCloseClicked" />
    </div>
    <div class="popup-content">
        @ChildContent
    </div>
</div>

@code {
[Parameter]
public string Title { get; set; }

[Parameter]
public EventCallback OnCloseClicked { get; set; }

[Parameter]
public RenderFragment ChildContent { get; set; }
}
