<div class="idle-message-wrapper">
    <div>Idle</div>
</div>
<div class="spacer"></div>
<SummonMyStrength.Maui.Components.ReadyCheck.ReadyCheckAutoAcceptToggle />
<SummonMyStrength.Maui.Components.HandsFree.HandsFreeModeToggle />