.summoner-row {
    display: flex;
    max-width: 400px;
    margin: 0 auto;
}

.summoner-row button {
    position: relative;
    display: block;
    width: 50%;
    background: 0;
    border: 0;
    margin: 5px;
    padding: 0;
}

.summoner-row button span {
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    padding: 2px 2px 0 2px;
    text-align: center;
    background: rgba(0,0,0,0.5);
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.summoner-row button + button {
    margin-left: 0;
}

.summoner-row + .summoner-row button {
    margin-top: 0;
}

.summoner-row button img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: fill;
}

.honor:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3px solid #0B0;
    z-index: 1;
}

.honor-primary:after,
.honor-secondary:after {
    position: absolute;
    bottom: 4px;
    left: 10px;
    font-weight: bold;
    color: #0B0;
    text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black, -2px 2px 0 black;
}

.honor-primary:after {
    content: "H1";
}

.honor-secondary:after {
    content: "H2";
}