.preferred-aram-groups {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.preferred-aram-group {
    padding: 12px;
    border: 1px solid var(--component-border-color);
    background: var(--component-background);
}

.preferred-aram-group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.preferred-aram-group-actions {
    display: flex;
}

.preferred-aram-champs {
    min-height: 42px;
}

.preferred-aram-champ {
    display: flex;
    align-items: center;
    margin-top: -1px;
    border: 1px solid var(--component-border-color);
    background: var(--component-background);
}

.preferred-aram-champ .champion-icon-wrapper {
    overflow: hidden;
    margin-right: 15px;
    width: 40px;
    height: 40px;
}

.preferred-aram-champ .champion-icon {
    display: block;
    margin: -3px;
    width: 46px;
    height: 46px;
}

.preferred-aram-champ .champion-name {
    flex-grow: 1;
}

.preferred-aram-champ ::deep .drag-handle {
    opacity: 0.3;
    margin-right: 10px;
}

.preferred-aram-empty-group {
    padding: 12px;
    color: rgba(255,255,255,0.65);
    border: 1px dashed var(--component-border-color);
}

.preferred-aram-group-dropzone {
    margin-top: 8px;
}

.preferred-aram-drop-hint {
    padding: 8px 12px;
    color: rgba(255,255,255,0.45);
    border: 1px dashed rgba(255,255,255,0.1);
}

.add-preferred-aram-group {
    width: 50px;
    height: 50px;
    background: rgba(0,0,0,0.1);
    box-shadow: rgba(0,0,0,0.3) 0 0 2px 2.5px inset;
    transition: background 0.05s linear;
}

.add-preferred-aram-group:hover {
    background: rgba(0,0,0,0.03);
}
