@implements IDisposable
@using SummonMyStrength.Api.ChampSelect
@using SummonMyStrength.Api.Champions
@using SummonMyStrength.Maui.Components.Common.Champions
@using SummonMyStrength.Maui.Components.HandsFree
@inject SummonMyStrength.Api.LeagueClient LeagueClient
@inject SummonMyStrength.Maui.Services.IChampSelectSessionAccessor ChampSelectSessionAccessor
@inject SummonMyStrength.Maui.Services.IPickBanService PickBanService

@if (_champions != null && _champions.Any())
{
    <MudText Typo="Typo.h6" Align="Align.Center">
        Select a champion to @(_isBanning ?? false ? "ban" : "pick"):
    </MudText>
    <div style="text-align: center">
        @foreach (var item in _champions)
        {
            var champion = item;

            <ChampionGridItem Champion="champion"
                              OnClick="() => SelectChampionAsync(champion)"
                              Selected="champion == (_isBanning ?? false ? _selectedBan : _selectedPick)"
                              Disabled="IsChampionDisbled(champion.Id)" />
        }
    </div>
    <HandsFreeModeToggle />
}