@using SummonMyStrength.Maui.Services.ChampSelect

<MudGrid Justify="Justify.Center" Style="align-items: center">
    <MudItem xs="5">
        <MudText Typo="Typo.subtitle2">Pick order trades?</MudText>
    </MudItem>
    <MudItem>
        <div class="pick-order-chips">
            <MudChip Size="Size.Medium" Text="Ignore" OnClick="() => PickOrderTradeResponseChanged(TradeResponse.None)" Color="Color.Primary" Variant="DataStore.PickOrderTradeResponse == TradeResponse.None ? Variant.Filled : Variant.Outlined" />
            <MudChip Size="Size.Medium" Text="Accept" OnClick="() => PickOrderTradeResponseChanged(TradeResponse.Accept)" Color="Color.Primary" Variant="DataStore.PickOrderTradeResponse == TradeResponse.Accept ? Variant.Filled : Variant.Outlined" />
            <MudChip Size="Size.Medium" Text="Reject" OnClick="() => PickOrderTradeResponseChanged(TradeResponse.Reject)" Color="Color.Primary" Variant="DataStore.PickOrderTradeResponse == TradeResponse.Reject ? Variant.Filled : Variant.Outlined" />

            <MudTooltip Text="Auto accept when moving later in the pick order and auto reject otherwise.">
                <MudChip Size="Size.Medium" Text="Down Only" OnClick="() => PickOrderTradeResponseChanged(TradeResponse.DownOnly)" Color="Color.Primary" Variant="DataStore.PickOrderTradeResponse == TradeResponse.DownOnly ? Variant.Filled : Variant.Outlined" />
            </MudTooltip>
        </div>
    </MudItem>
</MudGrid>

@code {
    private async Task PickOrderTradeResponseChanged(TradeResponse newValue)
    {
        if (DataStore.PickOrderTradeResponse != newValue)
        {
            DataStore.PickOrderTradeResponse = newValue;
            await DataStore.SaveAsync();
        }
    }
}