.underlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.champ-select {
    position: fixed;
    padding: 7px;
    width: 300px;
    border: 1px solid #222;
    border-radius: 7px;
    background: #444;
    box-shadow: rgba(0,0,0,0.3) 3px 3px 7px;
    z-index: 1000;
}

.champ-select input {
    padding: 5px;
    width: 100%;
    border: 1px solid #333;
    border-radius: 5px;
    background: #777;
    font-size: 16px;
    outline: none;
}

.champ-select img {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.champ-select ::deep .mud-grid {
    margin-top: 5px;
    cursor: pointer;
}

.champ-select ::deep .mud-grid:hover {
    background: rgba(255,255,255,0.2);
}

.search-results {
    margin-top: 5px;
}

.no-champion-icon {
    position: relative;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.3);
    opacity: 0.3;
}

.no-champion-icon:before {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 36px;
    top: 2px;
    left: 15px;
    background: black;
}

.no-champion-icon:after {
    content: "";
    position: absolute;
    display: block;
    width: 36px;
    height: 10px;
    top: 15px;
    left: 2px;
    background: black;
}
