@implements IDisposable
@inject SummonMyStrength.Api.Matchmaking.IReadyCheckService ReadyCheckService

@if (_readyCheck != null)
{
    <div class="wrapper">
        <div>
            @{
                Color statusColor;

                switch (_readyCheck?.PlayerResponse)
                {
                    case Api.Matchmaking.ReadyCheckPlayerResponse.Accepted:
                        statusColor = Color.Success;
                        break;
                    case Api.Matchmaking.ReadyCheckPlayerResponse.Declined:
                        statusColor = Color.Error;
                        break;
                    default:
                        statusColor = Color.Default;
                        break;
                }
            }

            <MudGrid Justify="Justify.Center" Spacing="0">
                <MudItem Style="position: relative">
                    <div class="progress-circle">
                        <MudProgressCircular Color="@statusColor" Size="Size.Large" Min="0" Max="13" Value="_currentTime.Value" StrokeWidth="6" />
                    </div>
                    <div class="progress-text">
                        Ready<br>
                        Check
                    </div>
                </MudItem>
            </MudGrid>
        </div>
    </div>
}

@code {
    private Timer _timer;
    private SummonMyStrength.Api.Matchmaking.ReadyCheck _readyCheck;
    private double? _currentTime;

    protected override void OnInitialized()
    {
        _timer = new Timer(async x => await TimerTickAsync(), null, Timeout.Infinite, Timeout.Infinite);

        ReadyCheckService.ReadyCheckCreated -= ReadyCheckCreated;
        ReadyCheckService.ReadyCheckUpdated += ReadyCheckUpdated;
        ReadyCheckService.ReadyCheckDeleted += ReadyCheckDeleted;
    }

    public void Dispose()
    {
        _timer.Dispose();
        ReadyCheckService.ReadyCheckCreated -= ReadyCheckCreated;
        ReadyCheckService.ReadyCheckUpdated -= ReadyCheckUpdated;
        ReadyCheckService.ReadyCheckDeleted -= ReadyCheckDeleted;
    }

    private async Task TimerTickAsync()
    {
        if (_currentTime != null)
        {
            _currentTime += 0.05;
        }

        await InvokeAsync(StateHasChanged);
    }

    private async Task ReadyCheckCreated(SummonMyStrength.Api.Matchmaking.ReadyCheck readyCheck)
    {
        _readyCheck = readyCheck;
        _currentTime = _readyCheck.Timer;
        _timer.Change(50, 50);

        await InvokeAsync(StateHasChanged);
    }

    private async Task ReadyCheckUpdated(SummonMyStrength.Api.Matchmaking.ReadyCheck readyCheck)
    {
        _readyCheck = readyCheck;

        if (_currentTime == null)
        {
            _currentTime = _readyCheck.Timer + 0.025;
            _timer.Change(50, 50);
        }

        await InvokeAsync(StateHasChanged);
    }

    private async Task ReadyCheckDeleted(SummonMyStrength.Api.Matchmaking.ReadyCheck readyCheck)
    {
        _readyCheck = null;
        _currentTime = null;
        _timer.Change(Timeout.Infinite, Timeout.Infinite);

        await InvokeAsync(StateHasChanged);
    }
}
