.underlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.spell-select {
    position: fixed;
    margin-left: -150px;
    padding: 7px;
    width: 200px;
    border: 1px solid #222;
    border-radius: 7px;
    background: #444;
    box-shadow: rgba(0,0,0,0.3) 3px 3px 7px;
    z-index: 1000;
}

.spell-icon {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.spell-icon:hover {
    filter: brightness(140%);
}
