.progress-text {
    position: absolute;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: white;
    opacity: 0.5;
}

.progress-circle ::deep .mud-progress-circular {
    width: 256px;
    height: 256px;
}

.progress-circle ::deep .mud-progress-circular svg {
    overflow: visible;
}