@implements IDisposable
@inject SummonMyStrength.Api.LeagueClient LeagueClient

<div class="wrapper">
    <div>
        <ReadyCheckStatusDisplay />
        <ReadyCheckAutoAcceptToggle />
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        LeagueClient.Matchmaking.ReadyCheckChanged += ReadyCheckChanged;
    }

    public void Dispose()
    {
        LeagueClient.Matchmaking.ReadyCheckChanged -= ReadyCheckChanged;
    }

    private async Task ReadyCheckChanged(SummonMyStrength.Api.Matchmaking.ReadyCheck newReadyCheck)
    {
        if (DataStore.AutoAcceptReadyChecks
            && newReadyCheck.PlayerResponse == Api.Matchmaking.ReadyCheckPlayerResponse.None
            && newReadyCheck.Timer >= 3)
        {
            await LeagueClient.Matchmaking.AcceptReadyCheckAsync();
        }
    }
}