.champion-header {
    display: flex;
    align-items: center;
    margin: -20px 0 -20px -21px;
}

.champion-header img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 5px;
}

.champion-header div {
    font-size: 120%;
    flex-grow: 1;
}

.champion-body {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 2px;
    margin-bottom: 4px;
    padding: 5px;
    border-radius: 3px;
    background: rgba(255,255,255,0.1);
    background: var(--component-background);
}

hr {
    margin: 10px;
    border: var(--divider-border);
}